.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

}

.modal-content {
    background-color: #fefefe;
    margin: 0px auto;
    padding: 20px 60px;
    border: 1px solid #888;
    border-radius: 40px;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 192, 211);
    border: none;
    color: #fff;
    padding: 15px 40px;
    border-radius: 60px;
    cursor: pointer;
    font-family: 'geomanistregular', Arial, sans-serif
}

button .button-title {
    font-size: 46px;
    font-weight: bold;
}
button i {
    font-size: 34px;
}

button .button-subtitle {
    font-size: 10px;
}

.step-1-input,
.step-2-input {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    width: 100%;
}

#step1 {
    width: 100%;
}

#step1 h2,
#step2 h2 {
    font-family: 'geomanistregular', Arial, sans-serif;
    font-weight: bold !important;
    font-size: 34px;
    text-align: center;
}

/* .step1-image-box {
    width: 400px;
    height: 400px;
    margin: 30px auto 0px;
} */

.step1-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-input,
.email-input,
.number-input {
    width: 100%;
}

.step-1-input input {
    padding-left: 45px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: inset 0 1px 2px rgba(130, 137, 150, 0.23), 0 1px 0 rgba(255, 255, 255, 0.95) !important;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-family: inherit;
    width: 92%;
    position: relative;
}

.step-1-input input::placeholder {
    font-family: initial;
}

.step-1-input input:focus {
    outline: 1px solid rgb(0, 192, 211);
    box-shadow: inset 0 1px 2px rgba(0, 193, 211, 0.623), 0 1px 0 rgba(255, 255, 255, 0.95) !important;
}

.error-message {
    color: red;
    top: 0;
}

.name-icon,
.email-icon,
.number-icon {
    position: relative;
}

.name-icon::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 16px;
    background-image: url("./image/name.webp");
    background-repeat: no-repeat;
    z-index: 99;
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.email-icon::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 16px;
    background-image: url("./image/email.webp");
    background-repeat: no-repeat;
    z-index: 99;
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.number-icon::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 13px;
    background-image: url("./image/phone.webp");
    background-repeat: no-repeat;
    z-index: 99;
    height: 24px;
    width: 24px;
    object-fit: cover;
}

.help-text {
    font-size: 10px;
    text-align: center;
    font-family: 'geomanistregular', Arial, sans-serif;
}

#dropdown {
    display: flex;
    width: 100%;
    padding: 20px;
    border: 1 px solid #ccc;
    border-radius: 20px;
}

select {
    font-size: 24px !important;
}

#dropdown option {
    font-size: 20px;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 0px) and (max-width : 400px) {
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /* overflow-y: auto; */
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 0px 20px;
        padding: 0px 0px;
        border: 1px solid #888;
        border-radius: 40px;
        width: 100%;
        max-width: 600px;
    }

    .step-1-input input {
        padding-left: 45px;
        padding-top: 12px;
        padding-bottom: 12px;
        box-shadow: inset 0 1px 2px rgba(130, 137, 150, 0.23), 0 1px 0 rgba(255, 255, 255, 0.95) !important;
        border-radius: 10px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-family: inherit;
        position: relative;
    }

}